@model List<JobOffer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    @foreach(var offer in Model.OrderBy(o => o.JobTitle))
    {
        <li>@Html.ActionLink(offer.JobTitle, "Details", new { id = offer.Id })</li>
    }
</ul>
<li>@Html.ActionLink("Create new offer", "Create", "JobOffer")</li>
