@model Company

<h2>Offer Details</h2>
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>

<br />
@Html.ActionLink("Go back to Companies", "Index", "Company", new { id = Model.Id }, new { @class = "btn btn-primary" })
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
