@model  List<Company>
@{
    ViewData["Title"] = "Index";
}

<ul>
    @foreach (var company in Model.OrderBy(c => c.Name))
    {
        <li>@Html.ActionLink(company.Name, "Details", new { id = company.Id })</li>
    }
</ul>
@Html.ActionLink("Add new company", "Create", "Company", new { }, new { @class = "btn btn-primary" })