@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/index.css" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h1 class="display-4" al>Welcome to HR Management site!</h1>
    <div class="container img-container">
        <div class="row">
            <div class="col-md-12">
                <img src="~/images/Home/human-resources.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
